<div class="container" *ngIf="isAuthenticated">
  <nav>
    <a *ngIf="userRole === 1" routerLink="/usuario">Usuarios</a>
    <a *ngIf="userRole === 2" routerLink="/dashboard">Vendedor</a>
    <a *ngIf="userRole === 2" routerLink="/carrito-moderador">Lista de Ventas</a>
    <a *ngIf="userRole === 3" routerLink="/carrito-compras">Carrito</a>
    <a *ngIf="userRole === 3" routerLink="/productos">Productos</a>
    <a *ngIf="userId" [routerLink]="['/perfil', userId]">Editar Perfil</a>


    <button (click)="logout()">Cerrar sesión</button>

  </nav>

</div>

<div *ngIf="!isAuthenticated">
  <nav>
    
    
    <a routerLink="/productos">Productos</a>
    <a routerLink="/login">Login</a>
  </nav>
  
</div>
<router-outlet></router-outlet>
